.advantage__list {
  margin: 0 20px;
  padding-left: 80px;
  list-style-type: none;
  position: relative;
}

.advantage__item {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
  }

  &--health::before {
    content: "";
    position: absolute;
    left: 0;
    background: $green url("../img/advantage-leaf@1x.png") center no-repeat;
  }

  &--solute::before {
    content: "";
    position: absolute;
    left: 0;
    background: $green url("../img/advantage-powder@1x.png") center no-repeat;
  }

  &--time::before {
    content: "";
    position: absolute;
    left: 0;
    background: $green url("../img/advantage-dining@1x.png") center no-repeat;
  }

  &--weight::before {
    content: "";
    position: absolute;
    left: 0;
    background: $green url("../img/advantage-clock@1x.png") center no-repeat;
  }
}

.advantage__text {
  min-height: 60px;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .advantage {
    width: 708px;
    min-height: 600px;
    margin: 0 auto;
  }

  .advantage__list {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantage__item {
    margin-top: 40px;
    padding-top: 117px;
    position: relative;
    width: 324px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 80px;
      height: 80px;
    }

    &::after {
      font-size: 281px;
      color: $gray;
      position: absolute;
      top: 90px;
      right: 90px;
      z-index: -1;
    }

    &--health::after {
      content: "1";
    }

    &--solute::after {
      content: "2";
    }

    &--time::after {
      content: "3";
    }

    &--weight::after {
      content: "4";
    }
  }

  .advantage__text {
    width: 210px;
    line-height: 24px;
    min-height: 60px;
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .advantage {
    width: 1220px;
    min-height: 330px;
    margin: 0 auto;
  }

  .advantage__item {
    width: 245px;

    &::after {
      right: 10px;
    }
  }
}
