.advantage__list {
  padding-left: 80px;
  list-style-type: none;
  position: relative;
}

.advantage__item {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
  }

  &--health::before {
    content: "";
    position: absolute;
    left: 0;
    background: $green url("../img/advantage-leaf@1x.png") center no-repeat;
  }

  &--solute::before {
    content: "";
    position: absolute;
    left: 0;
    background: $green url("../img/advantage-powder@1x.png") center no-repeat;
  }

  &--time::before {
    content: "";
    position: absolute;
    left: 0;
    background: $green url("../img/advantage-dining@1x.png") center no-repeat;
  }

  &--weight::before {
    content: "";
    position: absolute;
    left: 0;
    background: $green url("../img/advantage-clock@1x.png") center no-repeat;
  }
}
