.advantage {
  @include width-container;
}

.advantage__list {
  margin-top: 28px;
  margin-bottom: 42px;
  padding-left: 80px;
  list-style-type: none;
  position: relative;
}

.advantage__item {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
  }

  &--health::before {
    content: "";
    position: absolute;
    left: 0;
    background: $green url("../img/advantage-leaf@1x.png") center no-repeat;
  }

  &--solute::before {
    content: "";
    position: absolute;
    left: 0;
    background: $green url("../img/advantage-powder@1x.png") center no-repeat;
  }

  &--time::before {
    content: "";
    position: absolute;
    left: 0;
    background: $green url("../img/advantage-dining@1x.png") center no-repeat;
  }

  &--weight::before {
    content: "";
    position: absolute;
    left: 0;
    background: $green url("../img/advantage-clock@1x.png") center no-repeat;
  }
}

.advantage__text {
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  min-height: 60px;
  margin-bottom: 20px;
  padding-top: 2px;
  box-sizing: border-box;
}

.break-768 {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantage {
    min-height: 600px;
    padding-bottom: 41px;
  }

  .advantage__list {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantage__item {
    margin-top: 72px;
    margin-bottom: 41px;
    padding-top: 94px;
    position: relative;
    width: 324px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 80px;
      height: 80px;
    }

    &::after {
      font-size: 281px;
      color: $gray;
      position: absolute;
      top: 93px;
      z-index: -1;
    }

    &--health::after {
      content: "1";
      right: 95px;
    }

    &--solute::after {
      content: "2";
      right: 79px;
    }

    &--time::after {
      content: "3";
      right: 77px;
    }

    &--weight::after {
      content: "4";
      right: 75px;
    }
  }

  .advantage__text {
    width: 250px;
    font-size: 16px;
    line-height: 24px;
  }

  .break-768 {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .advantage {
    min-height: 330px;
    padding-bottom: 31px;
  }

  .advantage__item {
    width: 245px;

    &--health::after {
      right: 16px;
    }

    &--solute::after {
      right: 0;
    }

    &--time::after {
      right: -2px;
    }

    &--weight::after {
      right: -3px;
    }
  }
}
