.assortment__header {
  display: block;
  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
  text-align: center;
}

.assortment__list {
  padding-left: 0;
  list-style-type: none;
}

.assortment__item {
  border: 1px solid $gray;
  border-collapse: collapse;
  margin-top: -1px;
}

.assortment__title {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
}

.assortment__info {
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  color: $shadow-gray;
  text-align: center;
}

.assortment__field {
  text-align: center;
}

.assortment__all {
  position: relative;
  padding-top: 85px;
}

.assortment__all > .assortment__field::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-plus.svg");
}
