.assortment__header {
  margin: 0;
  padding: 20px;
  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
  text-align: left;
}

.assortment__list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.assortment__item {
  padding: 20px 19px;
  border: 1px solid $gray;
  border-collapse: collapse;
  margin-top: -1px;
  display: flex;
  flex-direction: column;
}

.assortment__about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.assortment__image {
  margin: 0;
}

.assortment__title {
  width: 70%;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
}

.assortment__info {
  margin-top: 30px;
  flex-grow: 1;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  color: $shadow-gray;
  text-align: center;
}

.assortment__field {
  text-align: left;
}

.assortment__value {
  text-align: right;
}

.assortment__button {
  margin: 0 auto;
}

.assortment__all {
  padding: 65px 20px 20px;
  border: 1px solid $gray;
  border-collapse: collapse;
  margin-top: -1px;
  position: relative;
}

.assortment__all > .assortment__field::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-plus.svg");
}
