.block-info {
  margin: 20px;
  background-color: $gray;
  padding: 0 20px 14px;
}

.block-info__title {
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 40px;
  padding-left: 91px;

  position: relative;
  text-align: left;

  &::before {
    position: absolute;
    left: 0;
    top: 35px;
    content: "";
    border-radius: 50%;
    background-color: $green;
    height: 50px;
    width: 50px;
  }

  &--slim::after {
    position: absolute;
    left: 6px;
    top: 35px;
    content: "";
    width: 35px;
    height: 49px;
    background: url("../img/icon-cat-slim.svg") no-repeat;
  }

  &--pro::after {
    position: absolute;
    left: -10px;
    top: 50px;
    content: "";
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
  }
}

.block-info__text {
  color: $shadow-gray;
  font-size: 14px;
  line-height: 18px;
  margin-top: 35px;
  padding-bottom: 14px;
  border-bottom: 1px solid rgba($black, 0.1);
}

.block-info__button {
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  padding-right: 35px;

  &::after {
    content: url("../img/icon-right-arrow-long.svg");
    width: 24px;
    height: 11px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-100%);
  }
}

@media (min-width: $tablet-width) {
  .block-info {
    @include conteiner(708px);
    margin: 30px auto;
    min-height: 372px;
    padding: 80px 50px;
    box-sizing: border-box;
  }

  .block-info__title {
    width: 100%;
    font-size: 36px;
    text-align: left;
    padding: 0 200px 0 0;
    box-sizing: border-box;
    position: relative;

    &::before {
      position: absolute;
      left: auto;
      right: 0;
      top: 0;
      content: "";
      border-radius: 50%;
      background-color: $green;
      height: 200px;
      width: 200px;
    }

    &--slim::after {
      position: absolute;
      left: auto;
      right: 25px;
      top: 0;
      content: "";
      width: 140px;
      height: 194px;
      background: url("../img/icon-cat-slim.svg");
    }

    &--pro::after {
      position: absolute;
      left: auto;
      right: -25px;
      top: 50px;
      content: "";
      width: 268px;
      height: 112px;
      background-image: url("../img/icon-cat-pro.svg");
    }
  }

  .block-info__text {
    width: 345px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  .block-info__button {
    font-size: 20px;
    line-height: 20px;
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .block-info {
    width: 570px;
    min-height: 372px;
    margin: 40px 0;
    padding: 52px 63px;
    box-sizing: border-box;
  }

  .block-info__title {
    padding: 20px 0 0 162px;
    position: relative;

    &::before {
      position: absolute;
      left: 0;
      right: auto;
      top: 0;
      content: "";
      border-radius: 50%;
      height: 100px;
      width: 100px;
    }

    &--slim::after {
      position: absolute;
      left: 15px;
      right: auto;
      top: 0;
      content: "";
      width: 70px;
      height: 97px;
      background: url("../img/icon-cat-slim.svg");
    }

    &--pro::after {
      position: absolute;
      left: -25px;
      right: auto;
      top: 25px;
      content: "";
      width: 134px;
      height: 56px;
      background-image: url("../img/icon-cat-pro.svg");
    }
  }

  .block-info__text {
    width: 100%;
    margin-top: 80px;
  }
}
