.button {
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  color: $white;
  font-family: "Oswald", "Arial", sans-serif;
  background-color: $link-hover;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $button-focus;
    transition: 0.3s;
  }

  &:active {
    color: rgba($white, 0.3);
    transition: 0.3s;
  }

  &--all-items {
    background-color: $gray;
    color: $shadow-gray;

    &:hover,
    &:focus {
      background-color: $dark-gray;
      transition: 0.3s;
    }

    &:active {
      color: rgba($shadow-gray, 0.3);
      transition: 0.3s;
    }
  }
}
