@import "../global/variables";

.button {
  display: block;
  width: 280px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  color: $white;
  background-color: $green;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  border: none;

  &--all-items {
    background-color: $gray;
    color: $shadow-gray;
  }
}
