.content-section--gray {
  background-color: $gray;
}

.example__picture {
  padding: 0 20px;
  text-align: center;
}

.content-section__title {
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .content-section--gray {
    min-height: 1080px;
    background: linear-gradient(to bottom, $white 620px, $gray 620px);
    border-top: 1px solid $gray;
  }

  .content-section__title {
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
  }
}

@media (min-width: $desktop-width) {
  .content-section--gray {
    min-height: 600px;
    background: linear-gradient(to bottom, $white 165px, $gray 165px);
    border-top: none;
  }

  .content-section__title {
    width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
  }
}
