.copyright {
  padding: 13px 0;
}

.copyright__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.copyright__link:hover .copyright__img,
.copyright__link:focus .copyright__img {
  fill: $link-hover;
}

.copyright__link:active .copyright__img {
  fill: $link-active;
}

.copyright__link:active .copyright__text {
  color: rgba($shadow-gray, 0.3);
}

.copyright__text {
  color: $shadow-gray;
  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
}

.copyright__img {
  width: 41px;
  height: 40px;
  padding: 0;
  margin-top: 6px;
  margin-right: -7px;
  fill: $link-static;
}

@media (min-width: $tablet-width) {
  .copyright__link {
    width: 163px;
  }
}
