.example {
  @include width-container;
  padding-bottom: 29px;
}

.example__content {
  margin: 0;
  padding-top: 24px;
  padding-right: 1px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 18px;
  color: $shadow-gray;
}

.example__result {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.example__result-block {
  display: flex;
  justify-content: space-between;

  &--mini {
    position: relative;
  }
}

.example__value {
  text-align: center;
  padding: 14px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid $border-gray;
  border-radius: 4px;
  width: 124px;
  min-height: 56px;
  box-sizing: border-box;
}

.example__explain {
  display: block;
  width: 87px;
  padding: 0 15px;
  box-sizing: border-box;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $gray;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  color: $shadow-gray;
}

.example__cost-block {
  width: 190px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.example__cost {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  flex-grow: 1;
  margin-top: 11px;
}

.example__picture {
  text-align: center;
}

.example__range {
  margin-top: 31px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 40px 0 44px;
}

.example__range-text {
  font-family: "Oswald", "Arial", sans-serif;
  background-color: transparent;
  margin: 0;
  height: auto;
  padding: 0 0 6px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  position: relative;

  &:hover,
  &:focus {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      border-bottom: 1px dotted $border-gray;
      transition: 0.3s;
    }
  }

  &:active {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid rgba($black, 0.4);
      transition: 0.3s;
    }
  }
}

.example__range-row {
  margin: 0 18px;
}

@media (min-width: $tablet-width) {
  .example {
    padding: 64px 30px 0;
  }

  .example__content {
    padding: 0 6px 0 0;
    font-size: 16px;
    line-height: 24px;
    color: $shadow-gray;
  }

  .example__result {
    width: 708px;
    padding-top: 23px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .example__result-block {
    width: 365px;
  }

  .example__value {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
    min-height: 72px;
  }

  .example__explain {
    font-size: 14px;
    line-height: 14px;
    width: 128px;
    padding: 0;
    background-color: $white;
    top: 80px;
  }

  .example__cost-block {
    width: 175px;
    margin: 0;
    height: 60px;
    padding: 42px 0 0;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .example__cost {
    margin: 0;
    padding-bottom: 10px;
    flex-grow: 0;
    font-size: 20px;
    text-align: right;
  }


  .example__range {
    min-height: auto;
    align-items: normal;
    padding: 0 69px;
    margin-top: 10px;
  }

  .example__range-row {
    margin-top: 16px;
  }

  .example__range-text {
    font-size: 20px;
    padding-top: 8px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin-top: 75px;
    min-height: 463px;
    background: linear-gradient(to right, $light-gray-bg 976px, $dark-gray-bg 976px);
  }

  .example__block {
    width: 470px;
  }

  .example__content {
    width: 432px;
    padding-top: 72px;
    padding-left: 10px;
  }

  .example__result {
    flex-direction: column;
    padding-top: 39px;
  }

  .example__result-block {
    width: 366px;
    padding-left: 10px;
  }

  .example__explain {
    background-color: $gray;
    top: 78px;
  }

  .example__cost-block {
    width: 327px;
    padding: 29px 11px 0;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .example__picture {
    width: 586px;
  }

  .example__range {
    padding: 21px 11px 0 9px;
  }
}
