.form__title {
  margin: 0;
  padding: 0 20px;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
}

.form__intro {
  padding: 0 20px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $shadow-gray;
}

.form__field {
  margin: 0;
  padding: 0 20px;
  border: none;

  &:nth-of-type(2) {
    border-bottom: 1px solid $gray;
    border-top: 1px solid $gray;
  }
}

.form__field--green-line {
  margin-top: 20px;
  border-top: 3px solid $green;
}

.form__list {
  list-style-type: none;
  padding-left: 0;
}

.form__item {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.form__value {
  font-size: 16px;
  line-height: 18px;
  color: $light-black;
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: 16px;
}

input[placeholder],
input[value],
textarea {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $shadow-gray;
}

.form__radio {
  padding-left: 46px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $gray;
  }
}

.form__area:checked + .form__radio::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $green;
}

.form__checkbox {
  padding-left: 46px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    width: 30px;
    height: 30px;
    border: 1px solid $gray;
  }
}

.form__area:checked + .form__checkbox::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 5px;
  width: 21px;
  height: 16px;
  background: url("../img/icon-tick.svg");
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  box-sizing: border-box;
  flex-grow: 2;
  border: 1px solid $gray;
}

.form__legend {
  padding: 20px 0;
  font-size: 24px;
  line-height: 24px;
}

.form__small {
  font-size: 14px;
  line-height: 16px;
  color: $shadow-gray;
  text-align: center;
}
