.form {
  padding-top: 20px;
  padding-bottom: 16px;
}

.form__block {
  &--green {
    @include green-line;
  }
}

.form__container {
  @include width-container;
  padding: 0;
}

.form__list {
  border: none;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;

  &--general {
    padding-top: 20px;
    padding-bottom: 23px;
  }

  &--radio {
    border: 1px solid $gray;
    border-left: none;
    border-right: none;
    padding-top: 26px;
    padding-bottom: 18px;
    margin-bottom: 27px;
  }

  &--contacts {
    padding-top: 35px;
    padding-bottom: 28px;
  }

  &--comments {
    padding-top: 35px;
    padding-bottom: 25px;
  }

  &--extra {
    padding-top: 40px;
    padding-bottom: 29px;
  }

  &--button {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.form__legend {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  background-color: $white;
  margin-left: -20px;
  padding: 0 20px;
  box-sizing: border-box;
}

.form__item {
  box-sizing: border-box;
  display: flex;
  margin-bottom: 14px;
  align-items: baseline;
  position: relative;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form__value {
  font-size: 16px;
  line-height: 18px;
  color: $light-black;
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: 16px;
  cursor: pointer;

  &--radio {
    padding-left: 45px;
    margin-bottom: 10px;
    position: relative;

    &:hover,
    &:focus {
      &::before {
        border: 1px solid $border-gray-black;
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: -1px;
      top: -6px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid $border-gray;
    }
  }

  &--checkbox {
    padding-left: 46px;
    margin-bottom: 10px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -5px;
      width: 30px;
      height: 30px;
      border: 1px solid $border-gray;
    }

    &:focus,
    &:hover {
      &::before {
        border: 1px solid $border-gray-black;
      }
    }
  }
}

.form__area {
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  padding: 11px 40px 13px 13px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $shadow-gray;
}

.form__area-pic {
  position: absolute;
  top: 13px;
  right: 16px;
  width: 17px;
  height: 13px;
}

.form__area:active + .form__area-pic svg,
.form__area:focus + .form__area-pic svg {
  fill: $link-hover;
}

.form__area:invalid + .form__area-pic svg {
  fill: $error;
}

textarea.form__area {
  padding-right: 10px;
  height: 150px;
}

.form__area:disabled + .form__value--radio {
  color: rgba($light-black, 0.3);

  &::before {
    border: 1px solid rgba($border-gray-black, 0.3);
  }

  &::after {
    opacity: 30%;
  }
}

.form__area:disabled + .form__value--checkbox {
  color: rgba($light-black, 0.3);

  &::before {
    border: 1px solid rgba($border-gray-black, 0.3);
  }

  &::after {
    opacity: 30%;
  }
}

.form__area:checked + .form__value--radio::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $green;
}

.form__area:checked + .form__value--checkbox::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 5px;
  width: 21px;
  height: 16px;
  background: url("../img/icon-tick.svg");
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  height: 45px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  border: 1px solid rgba($border-gray, 0.5);
  outline: none;

  &:hover {
    border: 1px solid rgba($border-gray, 1);
  }

  &:focus,
  &:active {
    border: 2px solid rgba($shadow-gray, 1);
  }

  &:invalid,
  &:required + :empty {
    border: 2px solid rgba($error, 1);
  }
}

.form__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.form__small {
  text-align: center;
  margin: 21px 0 11px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $shadow-gray;
}

@media (min-width: $tablet-width) {
  .form__container {
    padding: 0 69px;
  }

  .form__legend {
    font-size: 36px;
    line-height: 36px;
    margin-left: -40px;
    padding: 0 40px;
  }

  .break-320px {
    display: none;
  }

  .form__list {
    &--general {
      padding: 43px 0 43px;
    }

    &--radio {
      border: 1px solid $gray;
      margin-top: 30px;
      margin-bottom: 75px;
      padding: 34px 27px 21px;
    }

    &--contacts {
      padding: 75px 0 67px;
    }

    &--comments {
      padding: 76px 0 64px;
    }

    &--extra {
      padding: 66px 0 10px;
    }

    &--button {
      padding: 3px 0 56px;
    }
  }

  .form__item {
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  .form__value {
    font-size: 20px;
    line-height: 20px;

    &--radio {
      padding-left: 60px;
      margin-bottom: 13px;

      &::before {
        top: -11px;
        width: 40px;
        height: 40px;
      }
    }

    &--checkbox {
      padding-left: 58px;
      margin-bottom: 32px;

      &::before {
        top: -10px;
        width: 40px;
        height: 40px;
      }
    }
  }

  .form__area:checked + .form__value--radio::after {
    left: 12px;
    top: 1px;
    width: 18px;
    height: 18px;
  }

  .form__area:checked + .form__value--checkbox::after {
    left: 11px;
    top: 3px;
  }

  .form__area {
    font-size: 20px;
    line-height: 20px;
    padding: 11px 40px 10px 21px;
  }

  .form__area-pic {
    top: 19px;
    right: 17px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    height: 52px;
  }

  textarea.form__area {
    padding-top: 15px;
    height: 174px;
  }

  .form__mini-button {
    padding-top: 6px;
    padding-right: 3px;
    width: 53px;
    height: 53px;
  }

  .form__button {
    height: 52px;
    font-size: 20px;
  }

  .form__small {
    font-size: 16px;
    text-align: left;
    margin: 18px 0 11px;
  }

  .form__col-tablet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form__col-tablet-item {
    width: calc(100% / 2 - 30px);
  }
}

@media (min-width: $desktop-width) {
  .form__container {
    padding: 0 40px;
  }

  .form__list {
    &--radio {
      margin-top: 47px;
      margin-bottom: 69px;
    }

    &--contacts {
      padding-bottom: 47px;
    }

    &--comments {
      padding-bottom: 67px;
    }

    &--button {
      padding: 9px 0 70px;
    }
  }

  .form__col-desk {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form__col-desk-item {
    &--2col {
      width: calc(50% - 40px);
    }

    &--4col {
      width: calc(25% - 60px);
    }
  }
}
