.gift {
  position: relative;
  padding: 187px 50px 20px;
  margin: 39px 0 35px;
  width: 100%;
  min-height: 289px;
  box-sizing: border-box;
  background: $green url("../img/gift-photo-mobile@1x.jpg") center no-repeat;
  background-size: 100%;

  @media (min-resolution: $retina-dppx) {
    background: $green url("../img/gift-photo-mobile@2x.jpg") center no-repeat;
    background-size: 100%;
  }
}

.gift__content {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    width: 65px;
    height: 60px;
    top: 65px;
    left: 50%;
    transform: translateX(-42%);
    background: url("../img/icon-gift.svg") no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .gift {
    min-height: 200px;
    margin: 69px 0 76px;
    padding: 71px 105px 20px 423px;
    background: $green url("../img/gift-photo-tablet@1x.jpg") center no-repeat;
    background-size: 100%;

    @media (min-resolution: $retina-dppx) {
      background: $green url("../img/gift-photo-tablet@2x.jpg") center no-repeat;
      background-size: 100%;
    }
  }

  .gift__content {
    text-align: left;

    &::before {
      top: 64px;
      left: 91px;
      transform: translateX(0);
    }
  }
}

@media (min-width: $desktop-width) {
  .gift {
    width: 245px;
    min-height: 289px;
    padding: 185px 30px 20px;
    margin: 116px 0 86px;
    background: $green url("../img/gift-photo-desktop@1x.jpg") center no-repeat;
    background-size: 100%;

    @media (min-resolution: $retina-dppx) {
      background: $green url("../img/gift-photo-desktop@2x.jpg") center no-repeat;
      background-size: 100%;
    }
  }

  .gift__content {
    text-align: center;
  }
}
