.gift {
  position: relative;
  padding-top: 100px;
  margin: 40px 0;
  width: 100%;
  min-height: 230px;
  box-sizing: border-box;
  background: $green url("../img/gift-photo-mobile@1x.jpg") center no-repeat;
  background-size: cover;
}

.gift__content {
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    width: 55px;
    height: 60px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background-image: url("../img/icon-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .gift {
    min-height: 200px;
    margin: 70px 0;
  }
}

@media (min-width: $desktop-width) {
  .gift {
    width: 245px;
    min-height: 289px;
  }
}
