.location {
  background-color: $white;
  margin: 0;
}

.location__info {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.location__text {
  min-width: 140px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  &--adress {
    font-size: 14px;
    line-height: 20px;
    text-transform: none;
    color: $shadow-gray;
  }
}

iframe {
  width: 100%;
  height: 400px;

  border: none;
}
