.main-nav {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  margin: 0;

  &--off {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 510px;
  }
}
