.main-nav {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  margin: 0;

  &--off {
    display: none;
  }
}

.main-nav__toggle {
  padding: 0;
  width: 24px;
  margin-right: 20px;
  border: none;
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 510px;
  }

  .main-nav__toggle {
    display: none;
  }
}
