.page-header {
  @include width-container;
  padding: 0;
  min-width: 320px;
  min-height: 198px;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.page-header__logo {
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 20px;
  min-height: 65px;
  align-self: flex-start;
}

@media (min-width: $tablet-width) {
  .page-header {
    box-sizing: border-box;
    min-height: 65px;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__logo {
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: transparent;
  }
}
