.page-footer {
  background-color: $gray;
}

.page-footer__box {
  @include width-container;
}

.page-footer__logo {
  text-align: center;
  padding: 38px 0 30px;
}

@media (min-width: $tablet-width) {
  .page-footer__box {
    min-height: 143px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    margin: 0;
  }
}
