.page-header {
  @include width-container;
  padding: 0;
  min-width: 320px;
  min-height: 65px;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.page-header__logo {
  box-sizing: border-box;
  padding-top: 13px;
  padding-left: 20px;
  min-height: 65px;
  align-self: flex-start;
}

.page-header__logo-img {
  max-width: 100%;
  height: auto;
}

.page-header__logo:hover .page-header__logo-img,
.page-header__logo:focus .page-header__logo-img {
  opacity: 0.8;
  cursor: pointer;
  transition-duration: 0.3s;
}

.page-header__logo:active .page-header__logo-img {
  opacity: 0.6;
  transition: 0.3s;
}

.page-header__toggle {
  display: none;
  padding: 0;
  width: 24px;
  height: 18px;
  margin-right: 20px;
  border: none;
  background-color: transparent;
  position: relative;

  &--close {
    display: block;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 2px;
      background-color: $black;
      box-shadow: 0 8px 0 0 $black;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 24px;
      height: 2px;
      background-color: $black;
    }
  }

  &--open {
    display: block;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 2px;
      background-color: $black;
      transform-origin: top left;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 24px;
      height: 2px;
      background-color: $black;
      transform-origin: bottom left;
      transform: rotate(-45deg);
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    box-sizing: border-box;
    min-height: 65px;
    padding-top: 25px;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__logo {
    padding: 0;
  }

  .page-header__logo-img {
    max-width: 173px;
    height: 58px;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-top: 54px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: transparent;
    z-index: 1;
  }

  .page-header__logo-img {
    min-width: 202px;
    height: 59px;
  }
}
