.range {
  padding: 3px 5px;
  width: 100%;
  height: 14px;
  background-color: $white;
  border: 1px solid $shadow-gray;
  border-radius: 6px;
  box-sizing: border-box;
}

.range__tools {
  width: 50%;
  height: 6px;
  border-radius: 3px;
  border: none;
  background-color: $green;
}

@media (min-width: $tablet-width) {
  .range {
    width: 433px;
    height: 6px;
    border: none;
    border-radius: 2.5px;
    background-color: rgba($shadow-gray, 0.1);
  }

  .range__tools {
    position: relative;
    width: 34px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 34px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 13px solid $white;
    box-shadow: 0 0 1px 0 rgba($shadow-gray, 0.4);
    background-color: $green;
  }
}
