.select {
  text-align: center;
  color: #ffffff;
  background: url("../img/index-background-mobile1x.jpg") no-repeat, linear-gradient(to bottom, #63a73a 50%, #ffffff 50%);

  &__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
  }

  &__slogan {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
  }
}
