.select {
  padding-top: 25px;
  text-align: center;
  color: $white;
  background: url("../img/index-background-mobile1x.jpg") top center no-repeat, linear-gradient(to bottom, $green 305px, $white 305px);
}

.select__title {
  padding: 0 20px;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  margin: 0;
}

.select__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
