.site-list {
  padding-left: 0;
}

&__item {
  list-style-type: none;
  border-bottom: 1px solid $shadow-gray;

  &:first-child {
    border-top: 1px solid $shadow-gray;
  }

  & a {
    text-decoration: none;
    color: $black;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
  }
}
