$white: #ffffff;
$black: #111111;
$light-black: #222222;
$green: #63a73a;
$gray: #f2f2f2;
$dark-gray: #ebebeb;
$shadow-gray: #444444;
$border-gray: #cdcdcd;
$border-gray-black: #bababa;
$light-gray-bg: #f2f2f2;
$dark-gray-bg: #eaeaea;
$link-static: #666666;
$link-hover: #68b738;
$link-active: rgba(#68b738, 0.3);
$button-focus: #5eaa2f;
$error: #ff8282;
$tablet-width: 768px;
$desktop-width: 1300px;
